<%= render :partial => "shop/menu" %>
<h2>Параметры сайта :</h2>
<h3>Товары на главной странице :</h3>
<%= form_tag shop_settings_save_path do%>
	<%= select_tag("product1", options_from_collection_for_select(@products, "id", "name"))%><br/>		
	<%= select_tag("product2", options_from_collection_for_select(@products, "id", "name"))%><br/>	
	<%= select_tag("product3", options_from_collection_for_select(@products, "id", "name"))%><br/>	
<div class="bottom_link">
	<%= submit_tag "Сохранить"%>
</div>	
<% end %>
