<h1>Список пользователей:</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Имя пользователя</th>
  </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.username %></td>
      <td><%= link_to 'Редактировать', edit_user_path(user) %></td>
      <td><%= link_to 'Удалить', user, :confirm => 'Удалить пользователя?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Добавить пользователя', new_user_path %>
