  <div id="modules">
    <div id="mod3">
      <div class="padding"> <img src="/assets/product_small.jpg" alt="" />
        <div class="price"> <span class="only">В НАЛИЧИИ</span><br />
          <%= @product3.price%>р </div>
        <div class="text">
          <h2><%= link_to @product3.name, shop_product_path(@product3)%></h2>
          <p><%= @product3.about.truncate(95) %></p>
        </div>
      </div>
    </div>
    <div id="mod2">
      <div class="padding"> <img src="/assets/product_small.jpg" alt="" />
        <div class="price"> <span class="only">В НАЛИЧИИ</span><br />
          <%= @product2.price%>р. </div>
        <div class="text">
          <h2><%= link_to @product2.name, shop_product_path(@product2)%></h2>
          <p><%= @product2.about.truncate(95)%></p>
        </div>
      </div>
    </div>
    <div id="mod1">
      <div class="padding"> <img src="/assets/product_small.jpg" alt="" />
        <div class="price"> <span class="only">ПОД ЗАКАЗ</span><br />
          <%= @product1.price%>р </div>
        <div class="text">
          <h2><%= link_to @product1.name, shop_product_path(@product1)%></h2>
          <p><%= @product1.about.truncate(95)%></p>
        </div>
      </div>
    </div>
    
  </div>
  <div id="maincontent">
    <div id="introduction">
      <h2><span class="green">Добро пожаловать</span> в наш интернет- магазин</h2>
      <p>Наш интернет-магазин бытовой техники сегодня является одним из самых актуальных для современного потребителя. Это обуславливается, в первую очередь, узкой специализацией нашей деятельности - продажа мелкой бытовой техники оптом и в розницу.

Когда говорят о широком ассортименте и разнообразии выбора предлагаемой бытовой техники, порой упускают такой важный факт, как введение покупателя в заблуждение обилием незнакомых и непроверенных торговых марок вперемешку с заслужившими доверие брендами.

<a href="">ForbyShop </a> предлагает своему покупателю только лучшую бытовую технику.

Здесь представлены только проверенные, качественные бренды, которые являются лидерами в своих областях уже много лет. Среди каждого типа товаров мы выбираем оптимальные модели в различных ценовых категориях и с удовольствием предоставляем нашим покупателям весь ассортимент

В нашем интернет-магазине бытовой техники вы можете купить эпиляторы и бритвы, кофеварки и кофемолки, утюги, чайники, блендеры и многое другое. Мы же, в свою очередь, сделаем все для того, чтобы выбранные вами товары в максимально короткие сроки были доставлены до вашего дома. Наш магазин также реализует бытовую технику оптом.

Продажа бытовой техники нашим интернет-магазином сегодня - это комфортный бытовой уклад вашей жизни завтра!<br/>
        <br/>
        <a class="readm" href="">Читать дальше...</a> </p>
    </div>
    <div id="rightside">
      <h2><span class="green">Свежие</span> Новости</h2>
      <p> <span class="date">12.03.2006</span><br />
         Началась распродажа холодильников марки Атлант. Цены снижены на 20%. При покупке от 30000р доставка бесплатно.<br />
        <a class="readm" href="">Читать дальше...</a> </p>
      <p> <span class="date">11.17.2006</span><br />
        Диетологи советуют включать в дневной рацион фрукты, овощи и ягоды разного цвета, так как они содержат различные полезные вещества и обеспечивают достаточное количество витаминов, минералов и других необходимых веществ.<br />
        <a class="readm" href="">Читать дальше...</a> </p>
      <p> <span class="date">11.05.2006</span><br />
        Samsung анонсировала холодильник с встроенным планшетом. Планшеты, которым производители девайсов уделяют в последнее время особое внимание и неподдельный интерес, постепенно получают жизнь в непривычном стационарном исполнении.<br/>
        <a class="readm" href="">Читать дальше...</a> </p>
    </div>
    <div id="leftside">
      <div class="r">
        <h2><span class="green">Встраиваем</span>ая техника</h2>
        Если вы хотите приобрести бытовую технику и при этом сохранить эксклюзивный дизайн квартиры, не обойтись без встраиваемой техники. Сегодня она пользуется особой популярностью, что достаточно просто объяснить с учетом всех ее преимуществ. Прежде всего, встраиваемая техника компактна – она не занимает лишнего места и способна сэкономить немало драгоценных квадратных метров. Кроме того, встраиваемая техника удобна и эстетична.</div>
      <div class="le">
        <h2><span class="green">Линейный</span> компрессор</h2>
        Компания LG разработала свой первый компрессор в 1973 году, а в 2001 году первой вывела на рынок готовые линейные компрессоры. Второе - улучшенное поколение компрессоров компания вывела на рынок в 2006 году. В разработку третьего поколения LG инвестировала 12 миллиардов корейских вон (12,6 млн $). В настоящее время компании принадлежит более 700 локальных и международных патентов. Разработки в данной области будут продолжены.</div>
      <div class="pad">
        <h2>Как выбрать <span class="green">холод</span>ильник</h2>
        <p>  Подавляющее большинство холодильников имеет компрессионное охлаждение. В компрессионном холодильнике охлаждающая жидкость (хладагент) циркулирует под давлением компрессора. Компрессионные холодильники самые экономичные и практически не имеют ограничений по объему. <a href="">ForbyShop </a> поможет вам в выборе подходящего холодильника.</p>
        <p>К холодильникам, предназначенным для охлаждения, замораживания и хранения пищевых продуктов и напитков, относятся: отдельно стоящие и встраиваемые холодильники и морозильники, холодильные и винные шкафы с глухими и прозрачными дверьми, переносные и транспортные холодильники. К ним примыкают охладители для воды, ледогенераторы для приготовления пищевого льда, мороженицы и холодильники для косметики и лекарств.<br />
          <a class="readm" href="">Читать дальше...</a> </p>
      </div>
    </div>
  </div>
