<%= form_for(@product) do |prod_form| %>
	<%= prod_form.hidden_field :category_id %>
  <div class="field">
    <%= prod_form.label :name %><br />
    <%= prod_form.text_field :name %>
  </div>
  <div class="field">
    <%= prod_form.label :about %><br />
    <%= prod_form.text_field :about %>
  </div>
  Характеристики товара:<br/>
	<% prod_form.fields_for :product_prop_values do |prod_prop_form| %>
	<p>	
		<%= prod_prop_form.hidden_field :cat_property_id%>     	
	  <%= prod_prop_form.label :propvalue, prod_prop_form.object.cat_property.name %>      
    <%= prod_prop_form.text_field :propvalue%>
  </p>    
  <% end %> 
  <div class="actions">
    <%= prod_form.submit %>
  </div>  
<% end %>
