<%= render :partial => "shop/menu" %>
<div class="breadcrumb">
	<%= link_to 'Категории', shop_categories_path%> > <%=@category.name%>
</div>
<h2>Редактировать категорию:</h2>
<%= render 'form' %>

<%= content_for :javascript do %>
  <%= javascript_tag do %>
		$("#sortable").sortable({
			axis: 	'y',
			items: 	'li',
			update: function(event, ui){									
								$(this).sortable('toArray').forEach(function(prop_ID, Index){
									$('#'+prop_ID).find("input[class='position']").val(Index+1);
								});
							}
    });
  <% end %>    
<% end %>
