<!DOCTYPE html>
<html>
<head>
  <title>Forby Shop</title>
	<%= stylesheet_link_tag    :all %>
	<%= javascript_include_tag "application" %>	
  <%= csrf_meta_tag %>
</head>
<body>
  
<div id="content">
	<% if flash[:error]!='' %>
		<%=flash[:error]%>
  <%end%>		
  <div id="user_nav">  
  	<%if user_signed_in?%>
    	Здравствуйте, <%= current_user.username %>.
 		  <%if user_signed_in?%>
    	  <%= link_to 'панель управления, ', shop_categories_path %>
  	  <%end%>    	
    	<%= link_to 'выйти', destroy_user_session_path, :method=>'delete'%>
  	<%else%>
    	Здравствуйте, Гость.
    	(<%= link_to 'войти', new_user_session_path %>/ 
    	<%= link_to 'зарегистрироваться', new_user_registration_path %>)
  	<%end%>
  </div>
  <div id="header">
    <div class="topong">
      <div class="pad"> <img src="/images/cart.gif" alt="My Cart" />
        <h4><%= link_to 'Ваша корзина', :root%></h4>
        <br />
        <span class="txt">Пусто</span> 
      </div>
    </div>
    <div class="topong">
      <div class="pad"> <img src="/images/account.gif" alt="Account" />
        <h4><%= link_to 'Кабинет', :root%></h4>
        <br />
        <span class="txt">Гость</span> </div>
    </div>    
    <h1><span class="green">F</span>orby <span class="green">S</span>hop</h1>
    <span class="slogan">Отличное место для Ваших товаров</span> </div>
  <div id="menu">
    <div class="pad">
      <div id="search">
        <form method="get">
          <p>
            <input type="text" name="search" size="20" maxlength="250" class="text" value="" />
            <input type="submit" value="Искать" class="txt" />
          </p>
        </form>
      </div>
      <div class="submit">
        <ul>
          <li><a href="http://forbyshop.heroku.com"><span>ГЛАВНАЯ</span></a></li>          
          <li><a href=""><span>ТОВАРЫ</span></a></li>
          <li><a href=""><span>ДОСТАВКА</span></a></li>
          <li><a href=""><span>О НАС</span></a></li>
          <li><a href=""><span>КОНТАКТЫ</span></a></li>
        </ul>
      </div>
    </div>
  </div>
	<%= yield %>    
  <div id="footer">
    <p class="right">Copyright &copy; 2011 ForbyShop, Design: <a href="http://www.free-css-templates.com">free-css-templates.com</a></p>
    <p><a href="">Главная</a> &middot; <a href="">Контакты</a> &middot; <a href="">Доставка</a> &middot; <a href="">Товары</a> &middot; <a href="">О нас</a> &middot; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> и <a href="http://validator.w3.org/check?uri=referer">XHTML</a><br/>
    </p>
  </div>
</div>
<%= yield :javascript%>
</body>
</html>
